<h3>@Model.clothesCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Clothes clothes in Model.allClothes)
        {
            @Html.Partial("AllClothes", clothes)     
        }
    }
</div>
